body { background: #94fca2; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 41px; display: flex; }
.block-email-0 { color: #c91a0e; font-size: 16px; margin-bottom: 5px; }
.block-sms-1 { color: #bd597f; font-size: 20px; margin-bottom: 5px; }
.block-session-2 { color: #97e735; font-size: 20px; margin-bottom: 5px; }
.block-logger-3 { color: #528d0b; font-size: 12px; margin-bottom: 5px; }
.block-token-4 { color: #8fde4b; font-size: 20px; margin-bottom: 5px; }
.block-validator-5 { color: #89c958; font-size: 12px; margin-bottom: 5px; }
.block-uploader-6 { color: #caeac0; font-size: 19px; margin-bottom: 5px; }